{% extends 'home.html' %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<body>
    {% block notes %}
    <center>
    <div class="container">
    <ul class="myul">
        {% for note in notes %}
            <h1><li style="color: azure; font-size: 35px;">{{ note }}</li></h1>
        {% endfor %}
    </ul>
    </div>
</center>
    {% endblock %}
</body>
</html>